<!DOCTYPE html>
<html>
<head>
  <title>AppRails4To5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
